<gem-demis-section-header titleText="Metadaten bereitstellen">
  <p>
    Stellen Sie die Metadaten in tabellarischer Form als CSV zur Verfügung.
    Jede Zeile in der Datei entspricht einer Meldung.
    Sie erhalten eine Excel-Vorlage und weitere Informationen unter
    <a href="https://wiki.gematik.de/x/zMZyIg" target="_blank" rel="noopener noreferrer">https://wiki.gematik.de/x/zMZyIg</a>.
  </p>
</gem-demis-section-header>

@if (igsMeldungSrv.csvFile$ | async; as csvFile) {
  <gem-demis-section-header titleText="Metadaten hochladen" [level]="2">
    <p>Sie haben folgende Datei ausgewählt:</p>
  </gem-demis-section-header>

  <gem-demis-file-name-chip
    [fileName]="csvFile.name"
    [fileSize]="csvFile.size"
    (fileDeleted)="onFileDeleted()"
    [canDelete]="!uploading$.value"
  ></gem-demis-file-name-chip>

  <gem-demis-actions-bar>
    <button id="send-csv-to-igs-gateway" type="button" actions-right mat-flat-button color="primary" (click)="onUseFile(csvFile)" [disabled]="!!uploading$.value">
      @if (!!uploading$.value) {
        <span class="with-prefix-spinner">
          <mat-spinner diameter="16"></mat-spinner>
          Datei wird hochgeladen
        </span>
      }
      @else {
        <span>Datei verwenden</span>
      }
    </button>
  </gem-demis-actions-bar>
}
@else {
  <gem-demis-section-header titleText="Metadaten hochladen" [level]="2">
    <p>Bitte laden Sie hier die CSV-Datei hoch.</p>
  </gem-demis-section-header>

  <gem-demis-file-select displayText="Ziehen Sie eine Datei hierhin, oder klicken Sie zum Auswählen."
    (onFileSelected)="onFilesSelected($event)" acceptedFileTypes="text/csv"></gem-demis-file-select>

  <gem-demis-actions-bar>
    @if(showProceedToLastResults()) {
      <button id="last-results" type="button" actions-left mat-stroked-button color="secondary" (click)="navigateToLastResults()">
        Letzten Report abrufen
      </button>
    }

    <button type="button" actions-right mat-flat-button color="primary" [disabled]="true">
      Datei verwenden
    </button>
  </gem-demis-actions-bar>
}
