mat-card-actions {
  padding: 16px;
}

.mdc-button.mat-primary:not([disabled]) {
  background-color: var(--gem-demis-primary-color);
}

#igs-stepped-process-container {
  flex: 1 1 auto;
}

#igs-stepped-process-content {
  padding: 16px;
}


:host ::ng-deep .mat-drawer-inner-container {
  display: flex;
  flex-direction: column;
}

:host ::ng-deep .info-tile-container {
  display: flex;
  flex: 1;
}

.side-menu-layout {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.side-menu-content {
  flex: 1;
}
