/* You can add global styles to this file, and also import other style files */

/*
Workaround!

TODO: This needs to be done by defining a DEMIS matieral theme, most likely in Portal-Shell
*/
.mat-mdc-table {
  background-color: var(--color-demis-white) !important;
}

.mat-primary.mat-mdc-unelevated-button:not(:disabled) {
  background-color: var(--gem-demis-primary-color) !important;
  color: var(--color-demis-white) !important;
}

.table-cell-filename {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}